<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Product Details</title>
    <link rel="icon" href="/img/logo.png">

    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages-flashsale-item.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages-zoom.css" />
</head>

<body>
    <div id="nav-bottom">
        <div class="nav-top">
            <div class="top">
                <div class="py-container">
                    <div class="shortcut">
                        <ul class="fl">
                            <li class="f-item">Welcome</li>
                            <li class="f-item">Please<a href="login.html" target="_blank">Login</a>
                                <span><a href="register.html" target="_blank">Register</a></span></li>
                        </ul>
                        <div class="fr typelist">
                            <ul class="types">
                                <li class="f-item"><span>Orders</span></li>
                                <li class="f-item"><span><a href="cart.html" target="_blank">Shopping Cart</a></span></li>
                                <li class="f-item"><span><a href="home.html" target="_blank">Dashboard</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">
                <div class="py-container">
                    <div class="yui3-g Logo">
                        <div class="yui3-u Left logoArea">
                            <a class="logo-bd" title="violetluo" href="index.html" target="_blank"></a>
                        </div>
                        <div class="yui3-u Rit searchArea">
                            <div class="search">
                                <form action="" class="sui-form form-inline">
                                    <div class="input-append">
                                        <input type="text" id="autocomplete" class="input-error input-xxlarge" />
                                        <button class="sui-btn btn-xlarge btn-danger" type="button">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-container">
        <div id="item">
            <div class="crumb-wrap">
                <ul class="sui-breadcrumb">
                    <li>
                        <a href="#">Electronics</a>
                    </li>
                    <li>
                        <a href="#">Mobile</a>
                    </li>
                    <li>
                        <a href="#">Apple</a>
                    </li>
                    <li class="active">iPhone</li>
                </ul>
            </div>
            <div class="product-info">
                <div class="fl preview-wrap">
                    <div class="zoom">
                        <div id="preview" class="spec-preview">
                            <span class="jqzoom"><img jqimg="/img/_/b1.png" src="/img/_/s1.png" /></span>
                        </div>
                        <div class="spec-scroll">
                            <a class="prev">&lt;</a>
                            <div class="items">
                                <ul>
                                    <li><img src="/img/_/s1.png" /></li>
                                    <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                                    <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                                    <li><img src="/img/_/s1.png" bimg="../img/_/b1.png" onmousemove="preview(this)" /></li>
                                    <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                                    <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                                    <li><img src="/img/_/s1.png" bimg="../img/_/b1.png" onmousemove="preview(this)" /></li>
                                    <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                                    <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                                </ul>
                            </div>
                            <a class="next">&gt;</a>
                        </div>
                    </div>
                    <div class="product-collect">
                        <a href="javascript:;" id="star"><img src="/img/_/shi_heart.png" alt="">Save</a>
                    </div>
                </div>
                <div class="fr itemInfo-wrap">
                    <div class="sku-name">
                        <h4>iPhone 13 Pro Max</h4>
                    </div>
                    <div class="news">
                        <span><img src="/img/_/clock.png" />Flash Sale</span>
                        <span class="overtime">01:56:78 left</span>
                    </div>
                    <div class="summary">
                        <div class="summary-wrap">

                            <div class="fl title">
                                <i>Price</i>
                            </div>
                            <div class="fl price">
                                <i>$</i>
                                <em>$1299.00</em>
                                <span>Flash Sale</span>
                            </div>
                            <div class="fr remark">
                                <i>Reviews</i><em>612188</em>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix choose">
                        <div id="specification" class="summary-wrap clearfix">
                            <dl>
                                <dt>
                  <div class="fl title">
                    <i>Color</i>
                  </div>
                </dt>
                                <dd><a href="javascript:;" class="selected">Gold<span title="click-to-cancel">&nbsp;</span></a></dd>
                                <dd><a href="javascript:;">Silver</a></dd>
                                <dd><a href="javascript:;">Black</a></dd>
                            </dl>
                            <dl>
                                <dt>
                  <div class="fl title">
                    <i>Capacity</i>
                  </div>
                </dt>
                                <dd><a href="javascript:;" class="selected">64G<span title="click-to-cancel">&nbsp;</span>
                  </a></dd>
                                <dd><a href="javascript:;">128G</a></dd>
                                <dd><a href="javascript:;" class="locked">256G</a></dd>
                            </dl>
                            <dl>
                                <dt>
                  <div class="fl title">
                    <i>Carrier</i>
                  </div>
                </dt>
                                <dd><a href="javascript:;" class="selected">AT&T<span title="click-to-cancel">&nbsp;</span>
                  </a></dd>
                                <dd><a href="javascript:;">Verizon</a></dd>
                            </dl>
                            <dl>
                                <dt>


                        <div class="summary-wrap">
                            <div class="fl title">
                                <div class="control-group">
                                    <div class="controls">
                                        <input autocomplete="off" type="text" value="1" minnum="1" class="itxt" />
                                        <a href="javascript:void(0)" class="increment plus">+</a>
                                        <a href="javascript:void(0)" class="increment mins">-</a>
                                    </div>
                                </div>
                            </div>
                            <div class="fl">
                                <ul class="btn-choose unstyled">
                                    <li>
                                        <a href="/flashsale/buy/1234/19" target="_blank" class="addshopcar">Buy Now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix product-detail">
                <div class="fl aside">
                    <div class="shop">
                        <span class="fl">Apple</span><span class="fr"><a href="shop.html" target="_blank"
                class="sui-btn btn-bordered btn-danger">Enter Store</a></span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content tab-wraped">
                        <div id="index" class="tab-pane active">
                            <ul class="part-list unstyled">
                                <li>Mobile</li>
                                <li>Laptop</li>
                                <li>Accessory</li>
                                <li>Headphone</li>
                            </ul>
                            <ul class="goods-list unstyled">
                                <li>
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="/img/_/part01.png" />
                                        </div>
                                        <div class="attr">
                                            <em>iPhone 13 Pro Max Sierra Blue 512 GB</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>$</em>
                                                <i>1299.00</i>
                                            </strong>
                                        </div>
                                        <div class="operate">
                                            <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy Now</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="/img/_/part02.png" />
                                        </div>
                                        <div class="attr">
                                            <em>iPhone 13 Pro Max Sierra Blue 256 GB</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>$</em>
                                                <i>1199.00</i>
                                            </strong>
                                        </div>
                                        <div class="operate">
                                            <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy Now</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="profile" class="tab-pane">
                            <p>推荐品牌</p>
                        </div>
                    </div>
                </div>
                <div class="fr detail">
                    <div class="clearfix fitting">
                        <h4 class="kt">选择搭配</h4>
                        <div class="good-suits">
                            <div class="fl master">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="/img/_/l-m01.png" />
                                    </div>
                                    <em>￥5299</em>
                                    <i>+</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-main intro">
                        <ul class="sui-nav nav-tabs tab-wraped">
                            <li class="active">
                                <a href="#one" data-toggle="tab">
                                    <span>Description</span>
                                </a>
                            </li>
                            <li>
                                <a href="#two" data-toggle="tab">
                                    <span>Reviews</span>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="tab-content tab-wraped">
                            <div id="one" class="tab-pane active">
                                <ul class="goods-intro unstyled">
                                    <li>Brand: Apple</li>
                                    <li>Product: iPhone 13 Pro Max</li>
                                    <li>Storage: 128 GB</li>
                                    <li>Resolution: 1920x1080</li>
                                </ul>
                                <div class="intro-detail">
                                    <img src="/img/_/intro01.png" />
                                    <img src="/img/_/intro02.png" />
                                    <img src="/img/_/intro03.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="like">
                <h4 class="kt">猜你喜欢</h4>
                <div class="like-list">
                    <ul class="yui3-g">
                        <li class="yui3-u-1-6">
                            <div class="list-wrap">
                                <div class="p-img">
                                    <img src="/img/_/itemlike01.png" />
                                </div>
                                <div class="attr">
                                    <em>iPhone 13 Pro Max Sierra Blue 512 GB</em>
                                </div>
                                <div class="price">
                                    <strong>
                                        <em>$</em>
                                        <i>1299.00</i>
                                    </strong>
                                </div>
                                <div class="commit">
                                    <i class="command">6 reviews</i>
                                </div>
                            </div>
                        </li>
                        <li class="yui3-u-1-6">
                            <div class="list-wrap">
                                <div class="p-img">
                                    <img src="/img/_/itemlike02.png" />
                                </div>
                                <div class="attr">
                                    <em>iPhone 13 Pro Max Sierra Blue 256 GB</em>
                                </div>
                                <div class="price">
                                    <strong>
                                        <em>$</em>
                                        <i>1199.00</i>
                                    </strong>
                                </div>
                                <div class="commit">
                                    <i class="command">10 reviews</i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix footer">
        <div class="py-container">
            <div class="footlink">
                <div class="clearfix Mod-list">
                    <div class="yui3-g">
                        <div class="yui3-u-1-6">
                            <h4>Delivery</h4>
                            <ul class="unstyled">
                                <li>Pickup</li>
                                <li>Delivery</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>Payment</h4>
                            <ul class="unstyled">
                                <li>Credit Card</li>
                                <li>Installment</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>Help Center</h4>
                            <img src="/img/erwei_jz.png">
                        </div>
                    </div>
                </div>
                <div class="Mod-copyright">
                    <ul class="helpLink">
                        <li>About Us<span class="space"></span></li>
                        <li>Contact Us<span class="space"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="J-global-toolbar">
        <div class="toolbar-wrap J-wrap">
            <div class="toolbar">
                <div class="toolbar-panels J-panel">

                    <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
                        <h3 class="tbar-panel-header J-panel-header">
                            <a href="" class="title"><i></i><em class="title">Shopping Cart</em></a>
                            <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('cart');"></span>
                        </h3>
                        <div class="tbar-panel-main">
                            <div class="tbar-panel-content J-panel-content">
                                <div id="J-cart-tips" class="tbar-tipbox hide">
                                    <div class="tip-inner">
                                        <span class="tip-text">Login to add to favorites</span>
                                        <a href="#none" class="tip-btn J-login">Login</a>
                                    </div>
                                </div>
                                <div id="J-cart-render">
                                    <div id="cart-list" class="tbar-cart-list">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="cart-footer" class="tbar-panel-footer J-panel-footer">
                            <div class="tbar-checkout">
                                <div class="jtc-number"> <strong class="J-count" id="cart-number">0</strong>items</div>
                                <div class="jtc-sum">Total:<strong class="J-total" id="cart-sum">$0</strong> </div>
                                <a class="jtc-btn J-btn" href="#none" target="_blank">Checkout</a>
                            </div>
                        </div>
                    </div>

                    <div style="visibility: hidden;" data-name="follow" class="J-content toolbar-panel tbar-panel-follow">
                        <h3 class="tbar-panel-header J-panel-header">
                            <a href="#" target="_blank" class="title"> <i></i> <em class="title">Following</em> </a>
                            <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('follow');"></span>
                        </h3>
                        <div class="tbar-panel-main">
                            <div class="tbar-panel-content J-panel-content">
                                <div class="tbar-tipbox2">
                                    <div class="tip-inner"> <i class="i-loading"></i> </div>
                                </div>
                            </div>
                        </div>
                        <div class="tbar-panel-footer J-panel-footer"></div>
                    </div>

                    <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
                        <h3 class="tbar-panel-header J-panel-header">
                            <a href="#" target="_blank" class="title"> <i></i> <em class="title">Favorites</em> </a>
                            <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('history');"></span>
                        </h3>
                        <div class="tbar-panel-main">
                            <div class="tbar-panel-content J-panel-content">
                                <div class="jt-history-wrap">
                                    <a href="#" class="history-bottom-more" target="_blank">View Favorites &gt;&gt;</a>
                                </div>
                            </div>
                        </div>
                        <div class="tbar-panel-footer J-panel-footer"></div>
                    </div>

                </div>

                <div class="toolbar-header"></div>

                <div class="toolbar-tabs J-tab">
                    <div onclick="cartPanelView.tabItemClick('cart')" class="toolbar-tab tbar-tab-cart" data="shopping-cart" tag="cart">
                        <i class="tab-ico"></i>
                        <em class="tab-text"></em>
                        <span class="tab-sub J-count " id="tab-sub-cart-count">0</span>
                    </div>
                    <div onclick="cartPanelView.tabItemClick('follow')" class="toolbar-tab tbar-tab-follow" data="following" tag="follow">
                        <i class="tab-ico"></i>
                        <em class="tab-text"></em>
                        <span class="tab-sub J-count hide">0</span>
                    </div>
                    <div onclick="cartPanelView.tabItemClick('history')" class="toolbar-tab tbar-tab-history" data="我的足迹" tag="history">
                        <i class="tab-ico"></i>
                        <em class="tab-text"></em>
                        <span class="tab-sub J-count hide">0</span>
                    </div>
                </div>

                <div class="toolbar-footer">
                    <div class="toolbar-tab tbar-tab-top">
                        <a href="#"> <i class="tab-ico  "></i> <em class="footer-tab-text">Top</em> </a>
                    </div>
                    <div class="toolbar-tab tbar-tab-feedback">
                        <a href="#" target="_blank"> <i class="tab-ico"></i> <em class="footer-tab-text ">Feedback</em> </a>
                    </div>
                </div>

                <div class="toolbar-mini"></div>

            </div>

            <div id="J-toolbar-load-hook"></div>

        </div>
    </div>




</body>

</html>